<template>
<div>
  <h3>Albert Abril</h3>
</div>
</template>

<script>
export default {
}
</script>
<style lang="less">
div {
  margin: 60px 0;
}

@keyframes fadein {
    from {
      opacity: 0.2;
      // letter-spacing: 2.6px;
    }
    to {
      opacity: 0.7;
      // letter-spacing: 4.6px;
    }
}

h3 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.6px;
  // text-transform: uppercase;
  animation-name: fadein;
  animation-duration: 4s;
  animation-timing-function: linear;
}
</style>