<template>
  <nav>
    <ul>
      <li class="active">
        <a href="">About</a>
        <!-- <div class="line">&nbsp;</div> -->
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Projects</a>
      </li>
    </ul>
  </nav>
</template>

<script>
import $ from 'jquery'

function animateLine(direction, _this, position, pos, wid, width){
  const settings = {
    "toTheRight": {
      "animateConfigLeft": null,
      "animateConfigWidth": ((position.left - pos) + width),
      "animateCbWidth": width,
      "animateCbLeft": position.left
    },
    "toTheLeft": {
      "animateConfigLeft": position.left,
      "animateConfigWidth": ((pos - position.left) + wid),
      "animateCbWidth": width,
      "animateCbLeft": null
    }
  }
}


function animateToTheRight(line, _this, position, pos, width) {
  // There is two animations, (300 and 150)
  // it would be nice to promisify to clearer readibility
    const animateConfig = {
      width: ((position.left - pos) + width)
    }
    const animateCb = () => {
      line.animate({
        width: width,
        left: position.left
      }, 150);
      _this.parent().addClass('active');
    }

    line.animate(animateConfig, 300, animateCb);
}

function animateToTheLeft(line, _this, position, pos, wid, width) {
  // There is two animations, (300 and 150)
  // it would be nice to promisify to clearer readibility
  const animateConfig = {
    left: position.left,
    width: ((pos - position.left) + wid)
  }
  const animateCb = () => {
    line.animate({
      width: width
    }, 150);
    _this.parent().addClass('active');
  }
  line.animate(animateConfig, 300, animateCb);
}

async function handleAnimation(line, _this, position, pos, wid, width) {
  if(position.left >= pos) {
    animateToTheRight(line, _this, position, pos, width)
  } else {
    animateToTheLeft(line, _this, position, pos, wid, width)
  }
}

function setLineBehaviour() {
  const nav = $('nav');
  const line = $('<div />').addClass('line');

  line.appendTo(nav);

  const active = nav.find('.active');
  let pos = 0;
  let wid = 0;

  if(active.length) {
    pos = active.position().left;
    wid = active.width();
    line.css({
      left: pos,
      width: wid
    });
  }

  const clickNavItem = async function(e) {
    if(!$(this).parent().hasClass('active')) {
      e.preventDefault();
      const _this = $(this);
      nav.find('ul li').removeClass('active');
      const position = _this.parent().position();
      const width = _this.parent().width();
      await handleAnimation(line, _this, position, pos, wid, width)
      pos = position.left;
      wid = width;
    }
  }

  nav.find('ul li a').click(clickNavItem);
}

export default {
  mounted: () => {
    setLineBehaviour()
  }
}
</script>

<style lang="less">
@color_text: #fff;
@color_line: #FF1847;

@opacity_inactive: 0.4;
@opacity_hover: 0.7;
@opactiy_active: 1;

nav {
  position: relative;
  padding-bottom: 12px;
}
nav .line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: @color_line;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 40px 0 0;
  opacity: @opacity_inactive;
  transition: all 0.4s ease;
}
nav ul li:hover {
  opacity: @opacity_hover;
}
nav ul li.active {
  opacity: @opactiy_active;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: @color_text;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}
</style>
