<template>
  <div>
    <h2>nav bar</h2>
    <p>
      <a href="https://codepen.io/aaroniker/pen/pezemX">Codepen: @aaroniker : Fluid tab active state</a>
    </p>
  </div>
</template>

<script>
export default {
  components: {
  },
  mounted: () => {
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

body {
  background: #1A1E23;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}
</style>
