<template>
  <div>
    <MainTitle></MainTitle>
    <NavBar></NavBar>
  </div>
</template>

<script>
import MainTitle from '~/components/MainTitle.vue'
import NavBar from '~/components/NavBar.vue'

export default {
  components: {
    MainTitle,
    NavBar
  },
  mounted: () => {
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

body {
  background: #1A1E23;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
</style>
